# Dados brutos
data/raw/*.csv

# PERMITE a pasta processed para o GitHub carregar o Parquet
!data/processed/
!data/processed/*.parquet

# Arquivos temporários do Python e Ambientes Virtuais
__pycache__/
*.pyc
.venv/
venv/
.env

# Configurações do ambiente de desenvolvimento (IDE)
.vscode/
.idea/